.movies-card-list__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #FDFDFD;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
}

.movies-card-list__container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 14px;
    box-sizing: border-box;
}

.movies-card-list__title {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin: 0 0 9px;
}

.movies-card-list__save-button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    background-image: url(../../images/save-button_movie-explorer.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 19px;
    right: 20px;
    background-size: contain;
}

.movies-card-list__duration {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
    margin: 0;
}

.movies-card-list__image {
    width: 100%;
    height: 203px;
    background-image: url(../../images/film-image_movie-explorer.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .movies-card-list__image {
        height: 190px;
    }
}

@media screen and (max-width: 375px) {
    .movies-card-list__image {
        height: 168px;
    }
}
