.switch-container {
    position: relative;
    display: flex;
}

.switch-container__switch-item {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
    margin-right: 14px;
}

.switch-container input {
    display: none;
}

input:checked + .switch-container__slider {
    background-color: #2BE080;
}

input:checked + .switch-container__slider::before {
    transform: translateX(16.5px);
}

.switch-container__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EBEBEB;
    transition: .4s;
    border-radius: 20px;
}

.switch-container__slider::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    left: 2px;
    bottom: 2px;
    background-color: #FFFFFF;
    transition: .4s;
    border-radius: 50px;
}

.switch-container__caption {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

@media screen and (min-width: 601px) {
    .switch-container_mobile {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .switch-container_desktop {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .switch-container__caption {
        font-size: 11px;
    }
}
