.portfolio {
    width: 100%;
    padding: 0 70px 125px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.portfolio__title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    margin: 0 0 50px;
}

.portfolio__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #E8E8E8 solid;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    padding: 19px 0;
    align-items: center;
    transition: opacity .3s linear;
}

.portfolio__item:hover {
    opacity: .4;
}

.portfolio__item_no-padding-top {
    padding-top: 0;
}

.portfolio__button {
    width: 29px;
    height: 60px;
    background-image: url(../../images/arrow_movies-explorer.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    background-position: center;
}

.portfolio__item_no-border-bottom {
    border-bottom: none;
}

@media screen and (max-width: 1279px) {
    .portfolio {
        padding: 0 50px 90px;
    }

    .portfolio__item {
        font-size: 28px;
    }

    .portfolio__button {
        width: 27px;
    }
}

@media screen and (max-width: 767px) {
    .portfolio {
        padding: 0 14px 70px;
    }

    .portfolio__title {
        font-size: 14px;
        margin: 0 0 40px;
    }

    .portfolio__item {
        font-size: 18px;
        line-height: 28px;
    }

    .portfolio__button {
        width: 18px;
        height: 28px;
    }
}
