.menu {
    display: none;
}

.menu_active {
    display: block;
}

.menu__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    right: 0;
}

.menu__container {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 159px 90px 90px;
    box-sizing: border-box;
    z-index: 2;
}

.menu__close-button {
    width: 22px;
    position: fixed;
    top: 38px;
    right: 38px;
}

.menu__options {
    width: 340px;
}

.menu__option {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0 0 28px;
    display: block;
    color: #000000;
}

.menu__profile-option {
    width: 100px;
    background-color: #F9F9F9;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 0;
}

@media screen and (max-width: 767px) {
    .menu__container {
        padding: 144px 10px 46px;
    }

    .menu__close-button {
        top: 29px;
        right: 29px;
    }

    .menu__options {
        width: 300px;
    }

    .menu__option {
        margin: 0 0 24px;
    }
}

@media screen and (max-width: 420px) {
    .menu__container {
        width: 100%;
    }
}
