.about-me {
    width: 100%;
    padding: 110px 70px 100px;
    box-sizing: border-box;
}

.about-me__title {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    border-bottom: 1px #000000 solid;
    margin: 0 0 66px;
    padding-bottom: 23px;
}

.about-me__wrapper {
    display: flex;
    justify-content: space-between;
}

.about-me__description {
    display: flex;
    flex-direction: column;
}

.about-me__my-name {
    width: 600px;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    margin: 0 0 18px;
    display: inline-block;
}

.about-me__my-position {
    width: 600px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 26px;
    display: inline-block;
}

.about-me__my-review {
    width: 600px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 99px;
}

.about-me__link {
    width: 46px;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    transition: opacity .3s linear;
    color: #000000;
}

.about-me__link:hover {
    opacity: .4;
}

.about-me__my-photo {
    width: 270px;
    height: 327px;
    border-radius: 10px;
    background-color: black;
}

@media screen and (max-width: 1279px) {
    .about-me {
        padding: 90px 50px;
    }

    .about-me__my-name {
        font-size: 40px;
        line-height: 40px;
        margin: 0 0 16px;
        width: 348px;
    }

    .about-me__my-position {
        width: 348px;
        font-size: 12px;
        line-height: 18px;
        margin: 0 0 20px;
    }

    .about-me__my-review {
        width: 364px;
        font-size: 12px;
        line-height: 18px;
        margin: 0 0 87px;
    }

    .about-me__my-photo {
        width: 255px;
        height: 307px;
    }
}

@media screen and (max-width: 767px) {
    .about-me {
        padding: 70px 14px;
    }

    .about-me__title {
        padding-bottom: 28px;
        margin: 0 0 60px;
        font-size: 18px;
        line-height: 22px;
    }

    .about-me__wrapper {
        flex-direction: column-reverse;
    }

    .about-me__my-name {
        font-size: 30px;
        line-height: 36px;
        margin: 0 0 20px;
    }

    .about-me__my-position {
        font-size: 11px;
        line-height: 16px;
    }

    .about-me__my-review {
        width: 100%;
        font-size: 11px;
        line-height: 16px;
        margin: 0 0 40px;
    }

    .about-me__my-photo {
        width: 292px;
        height: 352px;
        margin-bottom: 40px;
    }
}
